.table-function{
	text-align: left;
	margin-bottom: 10px;
}
.table-search{
	width: 50%;
	display: flex;
	margin: 10px 0;
}
.table-search button{
	margin-left: 20px;
}
.cell{
	text-align: center;
}
.myPagination{
	margin-top: 10px;
	text-align: right;
}
.myForm{
	text-align: left;
}
a{
	text-decoration: none;
	color: #303133;
}

.statisticsItem{
	width: 35%;
	padding: 10px 5%;
	margin-bottom: 20px;
	color: #FFFFFF;
	background: #409EFF;
	border-radius: 5px;
}
.statisticsItem h4{
	margin-bottom: 10px;
}
.statisticsItem p{
	text-align: left;
}
.relative{
	position: relative
}
.statisticsTable{
	width: 45%;
	margin-left: 5%;
	float: left;
}
.overflowHiddeng{
	overflow: hidden;
}
.colorRed{
	color: #FF0000;
}
